<!doctype html><html><head>
  <meta charset=utf8>
  <title>Conway's game of life</title>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <style>
    hr{
      border:none;
      border-bottom:1px solid #ccc;
    }
    div.row{
      display:flex;
    }
    div.cell{
      height:22px;
      width:22px;
      background:black;
      box-shadow:0 0 2px #808080;
    }
    div.cell[alive]{
      background:white;
      cursor:pointer;
    }
    div.cell:hover{
      background:rgba(0,0,0,0.5);
    }
  </style>
</head><body>

<!--espaiador-->
<div style="margin-top:4em"></div>

<!--container-->
<div id=titol_i_normes>
  <!--títol-->
  <div style="display:flex;justify-content:space-between;">
    <h1 style="margin:0">Conway's Game of Life</h1>
    <div>
      <a href="https://github.com/holalluis/conway">github.com/holalluis/conway</a>
    </div>
  </div><hr>

  <!--normes-->
  <div id=normes>
    Només hi ha 2 normes durant la simulació:
    <ol>
      <li>Una casella negra es tornarà blanca si té 3 veïns.
      <li>Una casella blanca es tornarà negra si:
        <ul>
          <li>Té menys de 2 veïns.
          <li>Té més de 3 veïns.
        </ul>
      </li>
    </ol>
    Pots fer click a les caselles per canviar el seu color.
    <button onclick="document.querySelector('#titol_i_normes').style.display='none'">ok</button>
    <hr>
  </div>
</div>

<!--template-->
<div id=app>
  <!--controls-->
  <div
    style="
      position:fixed;
      top:0;
      width:100%;
      font-family:monospace;
      padding:1em 0;
      padding-left:8px;
      margin-left:-8px;
      border-bottom:1px solid #ccc;
      background:lightblue;
    "
  >
    Simulació:
    <button @click="start_simulation()" :disabled="running || !Object.values(alive_cells).some(val=>val==true)">inicia</button>
    <button @click="stop_simulation()" :disabled="!running">pausa</button> |
    <span :style="{background:running?'yellow':'',width:'75px',display:'inline-block',textAlign:'center'}">Pas: {{this.current_frame}}</span> |
    <button @click="set_all_next_states()" :disabled="running">+1 pas</button> |
    <button @click="set_all_dead()">neteja tot</button> |
    <button @click="set_all_random()">tot aleatori</button> |
    Tamany:
    <button @click="grid_size-=5">-5</button>
    {{grid_size}}x{{grid_size}}
    <button :disabled="running" @click="grid_size+=5">+5</button> |
    Mou:
    <button :disabled="running" @click="move_all_left()">&larr;</button>
    <button :disabled="running" @click="move_all_down()">&darr;</button>
    <button :disabled="running" @click="move_all_up()">&uarr;</button>
    <button :disabled="running" @click="move_all_right()">&rarr;</button>
  </div>

  <!--grid-->
  <div
    class=row
    v-for="i in grid_size"
    @mousedown="paint_mode=true"
    @mouseup="paint_mode=false"
  >
    <div
      class=cell
      v-for="j in grid_size"
      :alive="check_alive(i-1,j-1)"
      @mousedown="click_cell(i-1,j-1)"
      @mouseenter="if(paint_mode) click_cell(i-1,j-1)"
    ></div>
  </div>
</div>

<!--logic-->
<script>
let app=new Vue({el:"#app",
  data:{
    grid_size:50, //tamany taula
    timestep:100, //ms entre frames
    paint_mode:false, //drag mouse mode per pintar els quadres

    //initial state ("Gosper's glider gun")
    alive_cells:{
      "1,25":true,
      "2,23":true,
      "2,25":true,
      "3,13":true,
      "3,14":true,
      "3,21":true,
      "3,22":true,
      "3,35":true,
      "3,36":true,
      "4,12":true,
      "4,16":true,
      "4,21":true,
      "4,22":true,
      "4,35":true,
      "4,36":true,
      "5,1":true,
      "5,2":true,
      "5,11":true,
      "5,17":true,
      "5,21":true,
      "5,22":true,
      "6,1":true,
      "6,2":true,
      "6,11":true,
      "6,15":true,
      "6,17":true,
      "6,18":true,
      "6,23":true,
      "6,25":true,
      "7,11":true,
      "7,17":true,
      "7,25":true,
      "8,12":true,
      "8,16":true,
      "9,13":true,
      "9,14":true,
    },
    running:false, //simulation is running
    current_frame:0, //frames computed
    interval:false, //value for "setInterval" function
  },

  methods:{
    //check if there is a cell in coordinates i,j
    check_cell(i,j){
      if(i<0 || j<0) return false;
      let gs=this.grid_size;
      if(i>=gs || j>=gs) return false;
      return true;
    },

    move_all_up(){
      let new_keys=[];
      Object.entries(this.alive_cells).forEach(([key,val])=>{
        if(!val) return;
        let ij = key.split(',');
        let i = parseInt(ij[0]);
        let j = parseInt(ij[1]);
        if(i<1) return;
        new_keys.push(`${i-1},${j}`);
      });
      this.alive_cells={};
      new_keys.forEach(key=>{
        this.alive_cells[key]=true;
      });
    },

    move_all_down(){
      let new_keys=[];
      Object.entries(this.alive_cells).forEach(([key,val])=>{
        if(!val) return;
        let ij = key.split(',');
        let i = parseInt(ij[0]);
        let j = parseInt(ij[1]);
        if(i>=this.grid_size-1) return;
        new_keys.push(`${i+1},${j}`);
      });
      this.alive_cells={};
      new_keys.forEach(key=>{
        this.alive_cells[key]=true;
      });
    },

    move_all_left(){
      let new_keys=[];
      Object.entries(this.alive_cells).forEach(([key,val])=>{
        if(!val) return;
        let ij = key.split(',');
        let i = parseInt(ij[0]);
        let j = parseInt(ij[1]);
        if(j<1) return;
        new_keys.push(`${i},${j-1}`);
      });
      this.alive_cells={};
      new_keys.forEach(key=>{
        this.alive_cells[key]=true;
      });
    },

    move_all_right(){
      let new_keys=[];
      Object.entries(this.alive_cells).forEach(([key,val])=>{
        if(!val) return;
        let ij = key.split(',');
        let i = parseInt(ij[0]);
        let j = parseInt(ij[1]);
        if(j>=this.grid_size-1) return;
        new_keys.push(`${i},${j+1}`);
      });
      this.alive_cells={};
      new_keys.forEach(key=>{
        this.alive_cells[key]=true;
      });
    },

    set_all_random(){
      let gs=this.grid_size;
      for(let i=0;i<gs;i++){
        for(let j=0;j<gs;j++){
          let random_state = Math.random()>0.5?"alive":"dead";
          this.set_new_state(i,j,random_state);
        }
      }
      this.$forceUpdate();
    },

    set_all_dead(){
      let gs=this.grid_size;
      for(let i=0;i<gs;i++){
        for(let j=0;j<gs;j++){
          this.set_new_state(i,j,'dead');
        }
      }
      this.current_frame=0;
      this.$forceUpdate();
    },

    //get array of 8 cells surrounding position i,j
    get_surrounding_cells(i,j){
      let positions=[
        {x:i-1, y:j-1}, //nord-oest
        {x:i-1, y:j  }, //nord
        {x:i-1, y:j+1}, //nord-est
        {x:i,   y:j-1}, //oest
        {x:i,   y:j+1}, //est
        {x:i+1, y:j-1}, //sud-oest
        {x:i+1, y:j  }, //sud
        {x:i+1, y:j+1}, //sud-est
      ];
      let cells=[];
      positions.forEach(p=>{
        let cell = this.check_cell(p.x,p.y);
        if(cell) cells.push({x:p.x,y:p.y});
      });
      return cells;
    },

    //toggle state
    click_cell(i,j){
      let alive = this.check_alive(i,j);
      this.set_new_state(i,j,alive?'dead':'alive');
      this.$forceUpdate();
    },

    //check if cell i,j is alive
    check_alive(i,j){
      let key=`${i},${j}`;
      let alive_cell = this.alive_cells[key];
      return alive_cell?true:false;
    },

    //compute number of alive cells around
    get_number_of_surrounding_cells_alive(i,j){
      let sc = this.get_surrounding_cells(i,j);
      let sca = 0;
      sc.forEach(cell=>{
        let alive = this.check_alive(cell.x,cell.y);
        if(alive) sca++;
      });
      return sca;
    },

    //compute next state of cell i,j
    get_next_state(i,j){
      let sca = this.get_number_of_surrounding_cells_alive(i,j);
      if(sca==3){
        return "alive";
      }else if(sca==2){
        return "same";
      }else{
        //less than 2, more than 3
        return "dead";
      }
    },

    //change the state of cell i,j
    set_new_state(i,j,next_state){
      if(next_state!='alive' && next_state!='dead') return;
      let key=`${i},${j}`;
      this.alive_cells[key] = next_state=="alive";
    },

    //next frame
    set_all_next_states(){
      let cells=[];
      let gs = this.grid_size;
      for(let i=0;i<gs;i++){
        for(let j=0;j<gs;j++){
          let next_state = this.get_next_state(i,j);
          cells.push({x:i,y:j,next_state});
        }
      }
      cells.forEach(cell=>{
        this.set_new_state(cell.x, cell.y, cell.next_state);
      });
      this.current_frame++;
    },

    start_simulation(){
      this.interval=setInterval(this.set_all_next_states, this.timestep);
      this.running=true;
    },

    stop_simulation(){
      clearInterval(this.interval);
      this.running=false;
    },
  },
});
</script>
